<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952584798362-kpq4qa6t4buh2m2rl1607g3r7n6p9i4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952584798362-kpq4qa6t4buh2m2rl1607g3r7n6p9i4c</string>
	<key>API_KEY</key>
	<string>AIzaSyD9dS8bD_fXwneugFKlem5GfT9oZE6fcWU</string>
	<key>GCM_SENDER_ID</key>
	<string>952584798362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>plants.domination</string>
	<key>PROJECT_ID</key>
	<string>plant-domination</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-domination.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952584798362:ios:9411244238b1aab5cb5f23</string>
</dict>
</plist>