<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>

<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb655300595789936</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>655300595789936</string>
<key>FacebookDisplayName</key>
<string>Plant Domination</string>


<key>FacebookAdvertiserIDCollectionEnabled</key>
<string>FALSE</string>
<key>FacebookAutoLogAppEventsEnabled</key>
<string>FALSE</string>
<key>NSUserTrackingUsageDescription</key>
<string>Need tracking for analytics and to deliver custom ads</string>

<key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
    <false/>
    
<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <false/>
</plist>
